*.sh
*.slurm
*.err
*.out

wandb/
datasets/
models/__pycache__/
models/.ipynb_checkpoints/
models_save/
results/
aggregate_results.py
test.py
optuna_sweep_test*.py
optuna_sweep*.py
main_optuna_test.py
test_results/*
captum_IG.py
main_optuna_test.py


__pycache__/
__pypackages__/
bin/
packages/
.hydra/
.idea/
cache/
*.log
*.lock
*.tmp
.vscode/
core-*
core-python-*

temp/

# PyBuilder
.pybuilder/
target/
pyrightconfig.json

# Jupyter Notebook
.ipynb_checkpoints/
.python-version
Pipfile.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFESTcore-note-*
